<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            color: red;
        }
    </style>
</head>
<body class="bg-black">
    {% include 'components/header.html' %}
    {% include 'components/navbar.html' %}
    <div class="container bg-black">
        <h1>RATE A FILM</h1>
        {% if msg %}
        <div class="message {% if color %}{{ color }}{% endif %}">
            {{ msg }}
        </div>
        {% endif %}
        <form action="/save-ratings" method="POST" enctype="multipart/form-data" style="background-color: #ffffff; color: #000000;">
          <label for="" class="form-label">FILM ID</label>
          <input type="text" class="form-control" name="product_id">
          <label for="" class="form-label">RATINGS</label>
          <input type="text" class="form-control" name="rating">
          <br>
          <button class="btn btn-danger" type="submit">Submit Rating</button>
      </form>
      
    </div>
    {% include 'components/footer.html' %}
</body>
</html>


