<section class="row">
    <div class="col-md-12">
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-pause="false">
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ url_for('static', filename='images/slide11.jpg') }}" class="d-block w-1000" alt="Slide 1" height="640">
                    <div class="carousel-caption d-none d-md-block">
                        
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='images/slide33.jpg') }}" class="d-block w-1280" alt="Slide 2" height="640">
                    <div class="carousel-caption d-none d-md-block">
                      
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='images/slide44.jpg') }}" class="d-block w-1280" alt="Slide 3" height="640">
                    <div class="carousel-caption d-none d-md-block">
                        
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='images/slide55.jpg') }}" class="d-block w-1280" alt="Slide 4" height="640">
                    <div class="carousel-caption d-none d-md-block">
                        
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='images/slide66.jpg') }}" class="d-block w-1280" alt="Slide 5" height="640">
                    <div class="carousel-caption d-none d-md-block">
                       
                    </div>
                </div>
            </div>
            
            <!-- Carousel controls -->
            <a class="carousel-control-prev" href="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</section>

  
  